* {box-sizing: border-box;}

.Fondo{
  width: 100%;
  background-image: url("fondo.png");
  background-repeat: no-repeat;
  background-size: 65%;
}

.Gallade{
  width: 130%;
  height: 100%;
  animation: walkchar 7s steps(143)infinite;
  right: 10%;
  position: absolute;
}

@keyframes mover-gallade {
  100% {background-position: -100px}
}

.Pokeball{
  width: 110%;
  height: 100%;
  animation: walkchar 7s steps(143)infinite;
  right: 10%;
  position: absolute;
}


.Rayquaza{
  width: 85%;
  height: 100%;
  animation:  saltar-rayquaza 5s steps(1000) infinite;
  position:absolute;
  top:240px;
  left:370px;
  visibility:visible;
  z-index:1;
  position: absolute;
  margin-bottom: 100%;
}

@keyframes saltar-rayquaza {
  33% { top: 0;}
  100% { top: 240px;}

}
